* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  background-color: #73939c;

}



ul {
  list-style-type: none;
}
/*body {
  font-family: Verdana, sans-serif;
}*/

.calendarContainer {
  justify-content: center;  
  border: 3px solid #73939C;
  display: flex;
  
}

.calendar {
  
  right: 0;
  width: 200px;
  width: 50%;
  padding-left: 10%;
  
}

.month {
  padding: 70px 25px;
  width: 100%;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #73939C;
}

#weekdays li {
  color: #666;
  text-align: center;
}

#days {
  padding: 10px 0;
  background: #73939C;
  margin: 0;
}

#days li {
  list-style-type: none;
  text-align: center;
  font-size: 16px;
  color: #EBE9E8;
  padding: 15px;
  border: 1px solid #73939C;
}

#days li.active {
  background: #A8B7BA;
  border-radius: 75px;
  color: #EBE9E8 !important;
}

#next,
#prev {
  cursor: pointer;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  #days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  #days li {
    width: 12.5%;
  }
  #days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  #days li {
    width: 12.2%;
  }
}

#days,
#weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media all and (-ms-high-contrast: none) {
  #days {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}














body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 316px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #A8B7BA;
  overflow-x: hidden;
  padding-top: 150px;
  border-top-right-radius: 6%;
  border-bottom-right-radius: 6%;  
  box-shadow: 0px 3px 5px 4px #7e8081;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}

.material-icons {
  color: white;
  background-color: #A8B7BA;

}
.sidenav a { 
  padding: 50px 8px 6px 80px;
  text-decoration: none;
  font-size: 20px;
  color: #EBE9E8;
  background-color: #A8B7BA;
  font-family: 'Poppins' ;font-size: 22px; 
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav div{
  background-color: #A8B7BA;
}



.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


h3 {
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 22%;
  font-family: 'Poppins' ;font-size: 50px; 
  color: #EBE9E8;
  font-weight: lighter;
}

h4 {
  
  padding-bottom: 3%;
  padding-left: 30%;
  font-family: 'Poppins' ;font-size: 30px; 
  color: #EBE9E8;
}





