* {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
  font: inherit; */
  vertical-align: baseline;
  box-sizing: border-box;
  background-color: #73939c;
  font-family: "Poppins";
  font-size: 22px;
}

ul {
  list-style-type: none;
}

.calendarContainer {
  justify-content: center;
  border: 3px solid #73939c;
  display: flex;
}

.calendar {
  right: 0;
  width: 200px;
  width: 50%;
}

.month {
  padding: 70px 25px;
  width: 100%;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #73939c;
}

#weekdays li {
  color: #666;
  text-align: center;
}

#days {
  padding: 10px 0;
  background: #73939c;
  margin: 0;
}

#days li {
  list-style-type: none;
  text-align: center;
  font-size: 16px;
  color: #ebe9e8;
  padding: 15px;
  border: 1px solid #73939c;
}

#days li.active {
  background: #a8b7ba;
  border-radius: 75px;
  color: #ebe9e8 !important;
}

#next,
#prev {
  cursor: pointer;
}

/* **TASKLIST** */

.taskH2 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 25px;
}

#myInput {
  margin: 0;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px 15px 15px 15px;
  background: #ebe9e8;
}

input {
  text-align: center;
}

.addBtn {
  padding: 10px;
  width: 50%;
  background: #a8b7ba;
  color: white;
  float: center;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  border-radius: 15px 15px 15px 15px;
}

.tasks {
  padding-top: 3%;
}

.taskItem {
  color: white;
  margin: 10px;
}

.close {
  position: absolute;
  right: 40%;
  cursor: pointer;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  #days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  #days li {
    width: 12.5%;
  }
  #days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  #days li {
    width: 12.2%;
  }
}

#days,
#weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media all and (-ms-high-contrast: none) {
  #days {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 316px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a8b7ba;
  overflow-x: hidden;
  padding-top: 150px;
  border-top-right-radius: 6%;
  border-bottom-right-radius: 6%;
  box-shadow: 0px 3px 5px 4px #7e8081;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}

.material-icons {
  padding-left: 30px;
  color: white;
  background-color: #a8b7ba;
  padding-block: 20px;
}
.sidenav a {
  padding: 10px 8px 6px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #ebe9e8;
  background-color: #a8b7ba;
  font-family: "Poppins";
  font-size: 22px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav div {
  background-color: #a8b7ba;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
