* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  background-color: #73939c;
}

.sideMenu {
  position: fixed;
  height: 100%;
  width: 20em;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding: 20px;
  background-color: aliceblue;
}

ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}
.calendarContainer {
  position: relative;
  border: 3px solid #73ad21;
}

.calendar {
  position: absolute;
  right: 0;
  width: 200px;
  width: 50%;
}

.month {
  padding: 70px 25px;
  width: 100%;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

#weekdays li {
  color: #666;
  text-align: center;
}

#days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

#days li {
  list-style-type: none;
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 15px;
  border: 1px solid #ccc;
}

#days li.active {
  background: #e9a0df;
  border-radius: 75px;
  color: white !important;
}

#next,
#prev {
  cursor: pointer;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  #days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  #days li {
    width: 12.5%;
  }
  #days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  #days li {
    width: 12.2%;
  }
}

#days,
#weekdays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media all and (-ms-high-contrast: none) {
  #days {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
